.img-fun{
    width:200px;
    height:200px;
    display:none;
}
.ECbuttons{
        width:5%;
        float: left;
        display:block;
}
.button_fun{
    width:100px;
    height:40px;
    padding-left: 0%;
    background-color: none;
    color: aquamarine;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(51, 51, 51);
    border-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    padding-top: 0px;
    font-weight: bold;
}
.button_fun:hover{
    background-color:grey;
    color:white;
}
.fun_content{
    padding-left:10%;
    padding-top:150px;
}
.fun_content h1{
    font-size: 20px;
}
.fun_content p{
    font-size: 15px;
}
#skydiving{
    display:none;
}
#archery{
    display:none;
}
#rock{
    display:none;
}
#sichuan{
    display:none;
}
@media only screen and (min-width: 768px) {
    .img-fun{
        display:block;
    }
    .description{
        width: 70%;
        padding-left: 5%;
        display:inline-block;
        font-size: 16px;
    }
    .ECbuttons{
        display:block;
    }
    .fun_content{
        padding-top:180px;
    }
    .button_fun{
        width:150px;
        height:55px;
        font-size: 20px;
    }
    }
    @media only screen and (min-width: 1000px) {
        .description{
            width: 55%;
            padding-left: 0%;
            display:inline-block;
        }
        .img-fun{
            float:right;
        }
        .fun_content{
            padding-top: 0px;
        }
        #skydiving{
                padding-left: 100px;
                padding-top: 0%;
        }
        #archery{
            padding-left: 100px;
        }
        #sichuan{
            padding-left: 100px;
        }
        #rock{
            padding-left: 100px;
        }
    }