.img-fun{
    width:200px;
    height:200px;
    display:none;
    padding-right: 20px;
}
.ECbuttons{
        width:90%;
        float: left;
        display:block;
}
.button_fun{
    width:60px;
    height:30px;
    padding-left: 0%;
    background-color: none;
    color:rgb(4, 235, 252);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(51, 51, 51);
    border-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    padding-top: 0px;
    font-weight: bold;
    vertical-align: middle;
}
.button_fun:hover{
    background-color:grey;
    color:white;
}
.fun_content{
    padding-left:10%;
    padding-top:20px;

}
.fun_content h2{
    font-size: 20px;
    color:rgb(51, 51, 51);
    padding-left: 0%;
}
.ECdescription{
    font-size: 15px;
    color: rgb(77, 77, 77);
}
#skydiving{
    display:none;
}
#archery{
    display:none;
}
#rock{
    display:none;
}
#sichuan{
    display:none;
}
.ECmain h1{
    color:black;
    padding-left: 10%;
}
.ECmain{
    padding-top: 300px;;
}
.ECcontainer{
    border-color: black;
    background-color: rgb(223, 223, 223);
    height:320px;
}
@media only screen and (min-width: 768px) {
    .img-fun{
        display:block;
    }
    .ECdescription{
        width: 70%;
        padding-left: 5%;
        display:inline-block;
        font-size: 16px;
    }
    .ECbuttons{
        display:block;
        width:5%;
    }
    .fun_content{
        padding-top:180px;
    }
    .button_fun{
        width:150px;
        height:55px;
        font-size: 20px;
    }
    }
@media only screen and (min-width: 1000px) {
        .ECdescription{
            width: 55%;
            padding-left: 0%;
            display:inline-block;
            font-size:20px;
        }
        .img-fun{
            float:right;
        }
        .fun_content{
            padding-top: 0px;
        }
        #skydiving{
                padding-left: 100px;
                padding-top: 0%;
        }
        #archery{
            padding-left: 100px;
        }
        #sichuan{
            padding-left: 100px;
        }
        #rock{
            padding-left: 100px;
        }
    }