html{
    background-color: white;
    scroll-behavior: smooth;
    padding-left:0%;
    margin-left:0%;
    width:100%;
    height:100%;
}
body{
    width:100%;
    height:100%;
    padding:0%;
    margin:0%;
    font-family: sans-serif;
}
.container {
    width: 100%;
    height: 40px;
    background-color: none;
    display:none;
    align-content: center;
  }
  .ABmain{
      display:block;
  }
.ABmain p1{
    color:rgb(51, 51, 51);
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 60px;
}
.ABmain p2{
    color:grey;
    font-size: 16px;
}
.ABmain p3{
    font-size: 30px;
    color:rgb(4, 235, 252);
}
.ABmain p{
    color:gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}
.button{
    float: right;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(4, 235, 252);
    font-style: bold;
    padding: 5px 5px 5px;
    border-color: black;
    background-color:rgb(51, 51, 51);
    height:8px;
    margin:4px 2px;
    vertical-align:center;
}
.button:hover{
    background-color:grey;
    color:white;
}
.button2{
    float:right;
    background-color: rgb(51, 51, 51);
    border: none;
    color: rgb(4, 235, 252);
    padding: 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    font-style: bold;
}
.button2:hover{
    background-color: snow;
    color:black;
    
}
.button1{
    float: bottom;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(4, 235, 252);
    font-style: bold;
    padding: 10px 15px 20px;
    width:80px;
    height:80px;
}
.Pbutton{
    float: right;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(4, 235, 252);
    font-style: bold;
    padding: 5px 5px 5px;
    border-color: black;
    width:98%;
    text-align: center;
}
.Pbutton:hover{
    background-color:grey;
    color:white;
}
.Pbutton2{
    float:right;
    background-color: rgb(51, 51, 51);
    border: none;
    color: rgb(4, 235, 252);
    padding: 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: float;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    font-style: bold;
    width:98%;
    text-align: center;
}
.Pbutton2:hover{
    background-color: snow;
    color:black;
    
}
#img-me{
    width: 300px;
    height:400px;
    padding-left: 10%;
}
.ABmain{
    width:100%;

}
#main{
    width:100%;
    position: center;
    padding-top: 20px;
    font-family: arial;
    font-size: 20px;
    color:rgb(51, 51, 51);
}

.list{
    text-align:right;
}
.container-left{
    width: 125px;
    float: left;
    height:100%;
    display: none;
    position:sticky;
    padding-top: none;
    color: rgb(51, 51, 51);
}
.logo{
    width:80px;
    height:80px;
    display: block;
}

.container-main{
    width: 100%;
    height:100%;
}
.img-email{
    width: 80px;
    height:80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-linkedin{
    width:80px;
    height:80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.job{
    float:left;
    padding-top: 10px;
}
.time{
    float:left;
    display:block;
    padding-top: 20px;
}
#heading1{
    left:0px;
}
.pop{
    width:30px;
    height:30px;
    position:fixed;
    left:90%;
    top:1%;
}
#popup{
    display:none;
    width:35%;
    position:fixed;
    left:55%;
    top:1%;
    background-color: rgb(51, 51, 51);
}
#banner{
background-size: contain;
background-position: center;
    height:262px;
    padding-bottom: 20px;
    width:100%;

}
@media only screen and (min-width: 768px) {
    .content {
        width: 600px;
        margin: 0 auto;
    }
    .container{
        display:block;
    }
    .container-left{
        display: block;
        position:fixed;
    }
    .ABmain{
        padding-left: 15%;
        padding-right:10%;
        width:70%
    }
    .REmain{
        padding-left: 15%;
        padding-right:10%;
        width:70%
    }
    .container-main{
        display:block;
        width:90%;
    }
    #main{
        width:80%;
        padding-top:100px;
    }
    .button{
        padding:10px 5px 10px;
    }
    .pop{
        display:none;
    }
#banner{
    height:400px;
}
#img-me{
    float:right;
    padding-left: 0px;
    width:250px;
    height:325px;
}
}
@media only screen and (min-width: 1000px){
    .image-banner {
        width:100%;
        padding-bottom: 30px;
    }
    .container-main{
        width:100%;
    }
    #intro{
        width:600px;
    }
    #main{
        width:600px;
    }

}